name: Crusoe fork release

on:
  push:
    branches:
      - crusoe-**
  workflow_dispatch:
    inputs:
      container_version:
        required: true
        type: string
        default: "latest"
        description: "Version of the container to release"
permissions:
  contents: write
  attestations: write
  packages: write

jobs:
  release-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config user.name "crusoe-cloud"
          git config user.email "support@crusoecloud.com"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Determine container version
        run: |
          if [ "${{ inputs.container_version }}" == "latest" ]; then
            BRANCH_NAME="${{ github.ref_name }}"
            if [ -z "$BRANCH_NAME" ]; then
              if [ "${{ github.event_name }}" == "pull_request" ]; then
                BRANCH_NAME="${{ github.head_ref }}"
              else
                BRANCH_NAME="${GITHUB_REF#refs/heads/}"
              fi
            fi
            echo "container_version=${BRANCH_NAME}" >> $GITHUB_ENV
          else
            echo "container_version=${{ inputs.container_version }}" >> $GITHUB_ENV
          fi

      - name: Push image to GitHub Container Registry
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/crusoecloud/fluent-bit:${{ env.container_version }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7