name: Crusoe fork release

on:
  push:
    branches:
      - crusoe-**
  workflow_dispatch:
permissions:
  contents: write
  attestations: write
  packages: write

jobs:
  release-tag:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./fluent-bit
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config user.name "crusoe-cloud"
          git config user.email "support@crusoecloud.com"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push image to GitHub Container Registry
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/crusoecloud/fluent-bit:${{ env.GITHUB_REF_NAME }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7